@media (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }

  .form__radio-group {
    width: 49%;
  }

  .form__radio-group:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem 0 0 0;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    /* letter-spacing: 0.1rem; */
  }

  .header__logo {
    width: 75%;
    margin-bottom: 1.5rem;
  }

  .form__radio-group {
    width: 100%;
  }

  .btn--form {
    padding: 0.8rem 1.6rem;
  }
}

@media (min-width: 75em) {
  html {
    font-size: 75%;
  }
}
